<ons-page ng-controller="loginController" class="center" style="padding: 12px">

    <ons-scroller ng-init="showLogin=true;" ng-show="showLogin">
        <div  class="container">
            <div class="omb_login">
                <h3 class="omb_authTitle">Login or <a ui-sref="signup">Sign up</a></h3>
                <div class="row omb_row-sm-offset-3 omb_socialButtons">
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" ng-click="login('facebook')"
                           class="btn btn-lg btn-block omb_btn-facebook">
                            <i class="fa fa-facebook visible-xs"></i>
                            <span class="hidden-xs">Facebook</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" ng-click="login('anonymous')"
                           class="btn btn-lg btn-block omb_btn-twitter">
                            <i class="fa fa-twitter visible-xs"></i>
                            <span class="hidden-xs">Twitter</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <a href="#" ng-click="login('google')"
                        class="btn btn-lg btn-block omb_btn-google">
                            <i class="fa fa-google-plus visible-xs"></i>
                            <span class="hidden-xs">Google+</span>
                        </a>
                    </div>
                </div>

                <div class="row omb_row-sm-offset-3 omb_loginOr">
                    <div class="col-xs-12 col-sm-6">
                        <hr class="omb_hrOr">
                        <span class="omb_spanOr"
                            style="background-color: #efeff4">or</span>
                    </div>
                </div>

                <div class="row omb_row-sm-offset-3">
                    <div class="col-xs-12 col-sm-6">
                        <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" name="username"
                                       placeholder="email address" ng-model="login.username"
                                       ng-change="login.loginError=''" ng-keypress="keyPressed($event)">
                            </div>
                            <span class="help-block"></span>

                            <div class="input-group input-group-bottom-margin">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input  type="password" class="form-control" name="password"
                                        placeholder="Password" ng-model="login.password"
                                        ng-change="login.loginError=''" ng-keypress="keyPressed($event)">
                            </div>
                            <div class="error-container" ng-show="login.loginError">
                                <small class="error">
                                    <p class="error-form-text error-form-text-login">{{login.loginError}}</p>
                                </small>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit"
                                    ng-click="login('password')">Login</button>
                        </form>
                    </div>
                </div>
                <div class="row omb_row-sm-offset-3">
                    <div class="col-xs-12 col-sm-3">
                        <!--
                        <div class="checkbox">
                            <label>

                                Remember me
                            </label>
                        </div>

                        <i class="fa fa-2x fa-check-square-o"></i>
                        <label class="topcoat-checkbox">
                            <input type="checkbox">
                            <div class="topcoat-checkbox__checkmark"></div>
                            Default
                        </label>
                        -->
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <p class="omb_forgotPwd forgot-password">
                            <a ui-sref="resetPassword">Forgot password?</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ons-scroller>
</ons-page>