<ons-page ng-controller="menuController" style="background-color: white">

	<ul class="topcoat-list">
        <ons-list-item ng-hide="loginActive"
            class="topcoat-list__item__line-height">
            &nbsp; Please log in
        </ons-list-item>
		<ons-list-item
            ui-sref="user.play"
            ng-show="loginActive"
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.closeMenu();">


			<i class="fa fa-play fa-lg" style="color: #666"></i>
			&nbsp; Play
		</ons-list-item>

		<ons-list-item
            ng-show="loginActive"
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ui-sref="user.collections"
            ng-click="ons.slidingMenu.closeMenu();">

			<i class="fa fa-reorder fa-lg" style="color: #666"></i>
			&nbsp; Add Words
		</ons-list-item>

        <ons-list-item
            ng-show="loginActive"
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ui-sref="user.settings"
            ng-click="ons.slidingMenu.closeMenu()">
            <i class="fa fa-sliders fa-lg" style="color: #666"></i>
            &nbsp; Settings
        </ons-list-item>

        <ons-list-item
            ui-sref="anon.login"
            ng-show="loginActive"
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.toggleMenu();
			logout()">
            <i class="fa fa-sign-out fa-lg" style="color: #666"></i>
            &nbsp; Log out
        </ons-list-item>

	</ul>

</ons-page>