<ons-navigator title="Fast Phrase"
    left-button-icon="fa fa-lg fa-bars"
    on-left-button-click="ons.slidingMenu.toggleMenu()">
    <ons-page class="center" ng-controller="playController">
        <ons-navigator-toolbar title="Page1">
        </ons-navigator-toolbar>
        <div class="container-fluid" dynamic-width margin-width="20">
            <p class="play-select-title">Select a category:</p>
            <select ng-model="selectedCollection"
                ng-options="value as value.collectionName for (key,value) in collections | filterNonCategories"
                class="form-control" ng-change="changeWordSelection()">
            </select>

            <div ng-show="options.playEnable" class="row row-margin">
                <div class="col-xs-6 col-sm-6 button-group left-side-padding">
                    <button class="btn btn-lg btn-success btn-block start-round-button"
                        type="button" ng-click="startNewRound()">Start Round</button>
                </div>
                <div class="col-xs-6 col-sm-6 right-side-padding">
                    <button class="btn btn-lg btn-warning btn-block start-round-button"
                        href="#overlay" toggle="on" type="button">
                        Reset</button>

                </div>
            </div>
            <br>
            <div ng-show="options.playEnable" class="row row-margin">
                <div class="col-xs-6 col-sm-6 left-side-padding">
                    <div class="list-group team-font" ng-class="{highlighted: turns.team1}">

                        <div class="list-group-item list-group-item-success">
                            <button type="button" class="btn btn-primary increment-score-button"
                                ng-click="incrementTeam('team1')">
                                <i class="fa fa-plus fa-lg"></i>
                            </button>
                            Team 1
                            <button type="button" class="btn btn-primary decrement-score-button"
                                ng-click="decrementTeam('team1')">
                                <i class="fa fa-minus fa-lg"></i>
                            </button>
                        </div>
                        <div class="list-group-item">
                            {{scores.team1}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 right-side-padding">
                    <div class="list-group team-font" ng-class="{highlighted: turns.team2}">
                        <div class="list-group-item list-group-item-info">
                            <button type="button" class="btn btn-primary increment-score-button"
                                ng-click="incrementTeam('team2')">
                                <i class="fa fa-plus fa-lg"></i>
                            </button>
                            Team 2
                            <button type="button" class="btn btn-primary decrement-score-button"
                                ng-click="decrementTeam('team2')">
                                <i class="fa fa-minus fa-lg"></i>
                            </button>
                        </div>
                        <div class="list-group-item">
                            {{scores.team2}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-container" card-div-height-calc>
                <div card-div-height-calc>
                    <div ng-cloak animate-word initial-position="610" class="play-word-main-outer flip-container"
                         ng-show="word0" hm-swipe-left="getNextWord()" hm-drag-left="dragEvent($event)"
                         hm-dragstart="dragStart($event)" hm-dragend="dragEnd($event)"
                         hm-double-tap="flipCard()">
                        <div class="play-word-main-inner flipper">
                            <div  card-text-height class="flipper-outer">
                                <p  auto-text-size class="play-word-main-text front">{{word0}}</p>
                            </div>
                            <div  card-text-height class="flipper-outer">
                                <p  auto-text-size class="play-word-main-text back">{{definition0}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div card-div-height-calc>
                    <div ng-cloak animate-word initial-position="410" class="play-word-main-outer flip-container"
                         ng-show="word1" hm-swipe-left="getNextWord()" hm-drag-left="dragEvent($event)"
                         hm-dragstart="dragStart($event)" hm-dragend="dragEnd($event)"
                         hm-double-tap="flipCard()">
                        <div class="play-word-main-inner flipper">
                            <div  card-text-height class="flipper-outer">
                                <p  auto-text-size class="play-word-main-text front">{{word1}}</p>
                            </div>
                            <div  card-text-height class="flipper-outer">
                                <p  auto-text-size class="play-word-main-text back">{{definition1}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div card-div-height-calc>
                    <div ng-cloak animate-word initial-position="210" class="play-word-main-outer flip-container"
                         ng-show="word2" hm-swipe-left="getNextWord()" hm-drag-left="dragEvent($event)"
                         hm-dragstart="dragStart($event)" hm-dragend="dragEnd($event)"
                         hm-double-tap="flipCard()" hm-tap-opts="{dragLockMinDistance: 5}">
                        <div class="play-word-main-inner flipper">
                            <div card-text-height class="flipper-outer">
                                <p  auto-text-size class="play-word-main-text front">{{word2}}</p>
                            </div>
                            <div  card-text-height class="flipper-outer">
                                <p  auto-text-size class="play-word-main-text back">{{definition2}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="next-button" dynamic-width margin-width="20">
                <button class="btn btn-lg btn-info btn-block"
                    type="button" ng-click="getNextWord()">Next</button>
            </div>


        </div>
        <div overlay="overlay">
            <h4 class="overlay-title">Confirm Reset</h4>
            <p>
                Do you want to reset the score?
            </p>
            <p toggle="off" bubble target="overlay">
                <span ng-click="resetGame()" class="btn btn-primary">Ok</span>
                <span class="btn btn-default">Cancel</span>
            </p>
        </div>
    </ons-page>
</ons-navigator>
