<ons-navigator
    title="Settings"
    left-button-icon="fa fa-lg fa-bars">

    <ons-page  ng-controller="collectionsController"
        class="center">
        <ons-scroller>
            <ons-list>
                <ons-list-item>
                    <span>Earn Loyalty</span>
                    <div class="setting-item-action">
                        <label class="switch z-index-zero">
                            <input type="checkbox" class="switch__input" checked=checked>
                            <div class="switch__toggle"></div>
                        </label>
                    </div>
                </ons-list-item>
            </ons-list>
        </ons-scroller>
    </ons-page>
</ons-navigator>