<ons-navigator
    title="Settings"
    left-button-icon="fa fa-lg fa-bars">

    <ons-page  ng-controller="optionsCtrl"
        class="center">
        <ons-scroller>
            <ons-list>
                <ons-list-item>
                    <i class="options-label">{{ options.modeEnabled }}</i>
                    <switch ng-model="options.playStudy" label=""
                            ng-change="updateOptions()" class="pull-right switch-toggle">
                    </switch>
                </ons-list-item>
                <ons-list-item class="options-help-text">
                    <p class="options-help-text-paragraph">
                        Study mode allows you to study the cards without playing the game.
                    </p>
                </ons-list-item>
                <ons-list-item class="options-slider-list-item">
                    <!--
                    <i class="options-label options-slider-text" style="margin-top: 2px">Time Limit(secs)</i>
                    <div class="slider-input-div">
                        <input type="range" slider-width ng-model="input.sliderValue" ng-change="updateSliderValue()"
                               class="range slider-input" style="width: 60%; display: inline;">
                    </div>
                    <span class="options-label options-slider-text slider-value-right">{{input.scaledSliderValue}}</span>
                    -->
                    <i class="options-label" style="margin-top: 3px">Time Limit</i>
                    <select ng-model="input.timeLimitSelect" time-limit-select-width
                            ng-options="value.name for value in timeLimitOptions"
                            class="form-control options-time-limit-select"
                            style="display: inline"
                            ng-change="updateTimeLimitValue()">
                    </select>

                </ons-list-item>
                <ons-list-item class="options-help-text">
                    <p class="options-help-text-paragraph">
                        The time allowed for each turn when playing in game mode
                    </p>
                </ons-list-item>
                <ons-list-item>
                    <i class="options-label">Enable Sound</i>
                    <switch ng-model="options.enableSound" label=""
                            ng-change="updateOptions()" class="pull-right switch-toggle">
                    </switch>
                </ons-list-item>
                <ons-list-item>
                    <i class="options-label">Read Only</i>
                    <switch ng-model="options.enableReadOnly" disabled="true" label=""
                            ng-click="showLogin()" class="pull-right switch-toggle">
                    </switch>
                </ons-list-item>
                <ons-list-item class="options-help-text">
                    <p class="options-help-text-paragraph">
                        Allows users to play with existing categories without being able to modify them
                    </p>
                </ons-list-item>
            </ons-list>
        </ons-scroller>
        <div modal-hide class="modal-fixed modalhide">
            <div login-child-height class="omb_login modal-outer initial-overlay">
                <div class="modal-inner">

                    <h4>Confirm Read Only</h4>
                    <p>Please re-authenticate to change read-only access</p>

                    <login-snippet></login-snippet>
                </div>

            </div>

        </div>
    </ons-page>
</ons-navigator>