<ons-page ng-controller="menuController" style="background-color: white">

	<ul class="topcoat-list">
        <ons-list-item ng-hide="loginActive"
            class="topcoat-list__item__line-height">
            &nbsp; Please log in
        </ons-list-item>
		<ons-list-item
            ui-sref="play"
            ng-show="loginActive"
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.closeMenu();">


			<i class="fa fa-home fa-lg" style="color: #666"></i>
			&nbsp; Play
		</ons-list-item>

		<ons-list-item
            ng-show="loginActive"
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ui-sref="collections"
            ng-click="ons.slidingMenu.closeMenu();">

			<i class="fa fa-gear fa-lg" style="color: #666"></i>
			&nbsp; Add Words
		</ons-list-item>

        <ons-list-item
            ng-show="loginActive"
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.toggleMenu();
			ons.slidingMenu.setAbovePage('settings.html')">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; Settings
        </ons-list-item>

        <ons-list-item
            ng-show="loginActive"
            class="topcoat-list__item--tappable topcoat-list__item__line-height"
            ng-click="ons.slidingMenu.toggleMenu();
			ons.slidingMenu.setAbovePage('login.html');
			logout()">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; Log out
        </ons-list-item>

	</ul>

</ons-page>