<ons-page ng-controller="signupController" class="center" style="padding: 12px">

    <div class="container">
        <div class="row form-group">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li ng-class="{active: showFirst, disabled: !showFirst}"
                        ng-click="showFirst=true"><a href="">
                        <h4 class="list-group-item-heading">Step 1</h4>
                        <p class="list-group-item-text">Register Email</p>
                    </a></li>
                    <li ng-class="{active: !showFirst, disabled: showFirst}"
                        ng-click="showFirst=false"><a href="">
                        <h4 class="list-group-item-heading">Step 2</h4>
                        <p class="list-group-item-text">Set New Password</p>
                    </a></li>
                    <!--
                    <li ng-class="{active: !showThird, disabled: !showThird}"><a href="#step-3">
                        <h4 class="list-group-item-heading">Step 3</h4>
                        <p class="list-group-item-text">Enter new password</p>
                    </a></li>
                    -->
                </ul>
            </div>
        </div>
        <div ng-show="showFirst" class="row setup-content" id="step-1">
            <div class="col-xs-12">
                <div class="col-md-12 well text-center">
                    <h2> STEP 1</h2>
                    <form name="form" class="input-group input-group-bottom-margin">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input ng-model="signup.inputEmail" type="email"
                            class="form-control" name="email" placeholder="email address"
                            required ng-model-options="{ debounce: 250 }">
                        <span class="input-group-btn" ng-click="submitEmail()">
                            <input type="submit" class="button btn btn-warning" value="Submit">
                        </span>

                    </form>
                    <div class="error-container"
                         ng-show="form.email.$dirty && form.email.$invalid">
                        <small class="error"
                               ng-show="form.email.$error.required">
                            <p class="error-form-text">Your email is required.</p>
                        </small>
                        <small class="error"
                               ng-show="form.email.$error.minlength">
                            Your email is required to be at least 3 characters
                        </small>
                        <small class="error"
                               ng-show="form.email.$error.email">
                            <p class="error-form-text">Please input a valid email.</p>
                        </small>
                        <small class="error"
                               ng-show="form.email.$error.maxlength">
                            Your email cannot be longer than 20 characters
                        </small>
                    </div>
                    <div class="error-container" ng-show="emailInUse">
                        <small class="error">
                            <p>Your email is already registered</p>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!showFirst" class="row setup-content" id="step-2">
            <div class="col-xs-12">
                <div class="col-md-12 well">
                    <h2 class="text-center"> STEP 2</h2>
                    <form class="form-horizontal" role="form" name="myForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Temporary Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control"
                                       ng-model="tempPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pw1" class="col-sm-3 control-label">
                                New Password
                            </label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control"
                                       name="pw1" ng-model="pw1" ng-required=""
                                       id="pw1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pw2" class="col-sm-3 control-label">
                                Confirm Password
                            </label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control"
                                       name="pw2" pw-check="pw1" ng-model="pw2"
                                       ng-required="" id="pw2">
                            </div>
                        </div>
                        <div class="msg-block" ng-show="myForm.$error">
                            <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">
                                Passwords don't match.
                            </span>
                        </div>
                        <button type="button" class="btn btn-warning btn-block btn-margin-top"
                                ng-click="setNewPassword()">
                            Submit
                        </button>

                    </form>
                </div>
            </div>
        </div>
        <!--
        <div ng-hide="showFirst" class="row setup-content" id="step-3">
            <div class="col-xs-12">
                <div class="col-md-12 well">
                    <h1 class="text-center"> STEP 3</h1>
                </div>
            </div>
        </div>
        -->
    </div>
</ons-page>